﻿@model Student

@{
  ViewBag.Title = "Edit";
}

<h3>학생정보 수정</h3>
<form class="form from-horizontal" method="post">
  <div class="form-group">
    <div class="col-md-3">
      <label>아이디:</label>
      <input type="text" class="form-control" asp-for="@Model.Id" disabled />
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-3">
      <label>이름:</label>
      <input type="text" class="form-control" asp-for="@Model.Name"/>
      <span asp-validation-for="@Model.Name"></span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-3">
      <label>나이:</label>
      <input type="text" class="form-control" asp-for="@Model.Age"/>
      <span asp-validation-for="@Model.Age"></span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-3">
      <label>국가:</label>
      <input type="text" class="form-control" asp-for="@Model.Country"/>
      <span asp-validation-for="@Model.Country"></span>
    </div>
  </div>
  <button type="submit" class="btn btn-default">Update</button>
</form>

