﻿@model StudentTeacherViewModel

@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="jumbtron">
        <h1>환영합니다.</h1>
        <p>we are learning asp.net core</p>
    </div>
</div>

@await Html.PartialAsync("_TeacherTable", Model)